.btn {
  padding: 10px;
  transition: ease-in-out 0.15s;
  border: 2px solid transparent;
}

.btn-rounded {
  border-radius: 8px;
}

.btn-secondary {
  color: white;
  font-size: 18px;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #F2CD6F;
  background: none;
  margin-left: 15px;

  &:hover {
    background: #F2CD6F;
  }
}

.btn-filled {
  background: rgb(105, 178, 222);
  color: white;
  font-size: 18px;

  &:hover {
    color: rgb(105, 178, 222);
    border: 2px solid rgb(105, 178, 222);
    background: white;
  }
}

.btn-outlined {
  border: 2px solid rgb(105, 178, 222);
  color: rgb(105, 178, 222);
  background: white;

  &:hover {
    color: white;
    background: rgb(105, 178, 222);
  }
}
